<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj produkt</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <%- include('navbar') %>
    <div class="main-content">
        <div id="edit-form-div">
            <form action="/admin/edit/<% if (locals.item) { %><%= locals.item.id %><% } %>" method="post" enctype="multipart/form-data">
                <div>
                    <label for="name">Nazwa:</label>
                    <input type="text" name="name" id="name" value="<% if (locals.item) { %><%= locals.item.name %><% } %>">
                </div>
                <div>
                    <label for="pic">Obrazek:</label>
                    <input type="file" name="pic" id="pic">
                </div>
                <div>
                    <label for="developer">Deweloper:</label>
                    <input type="text" name="developer" id="developer" value="<% if (locals.item) { %><%= locals.item.developer %><% } %>">
                </div>
                <div>
                    <label for="description">Opis:</label>
                    <input type="text" name="description" id="description" value="<% if (locals.item) { %><%= locals.item.description %><% } %>">
                </div>
                <div>
                    <label for="price">Cena:</label>
                    <input type="number" name="price" id="price" value="<% if (locals.item) { %><%= locals.item.price %><% } %>">
                </div>
                <div>
                    <label for="year">Rok:</label>
                    <input type="number" name="year" id="year" value="<% if (locals.item) { %><%= locals.item.year %><% } %>">
                </div>
                <div>
                    <input type="submit" value="Zapisz" id="btn">
                </div>
            </form>
            <% if (locals.msg) { %>
                <p class="msg"><%= locals.msg %></p>
            <% } %>
        </div>
    </div>
    <footer>© 2023</footer>
</body>

</html>